body
{
	/* padding-top: 0; */
	min-height: 100%;
}

.navbar-default .navbar-collapse, .navbar-default
{
	background-color: white;
}
.navbar-default .navbar-collapse.in
{	
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
/*.navbar-toggle .icon-bar 
{
	background-color: rgba(13, 19, 62, 0.59);
}
.navbar-toggle
{
	background-color: rgba(154, 203, 234, 0.8);
}

.navbar-fixed-top .navbar-collapse {
	background-color: white;
}
		
.navbar-header
{
	height: 100px;
} */

#navbar-site-name.navbar-brand
{
	font-size: 3em;
	font-style: italic;
}

#main_container
{
	margin-top: 0;
	min-height: 100%;
}

.author
{
	float: none;
	margin: 5px 0px;
}

.bigtext
{
	font-size: 200%;
}

.category
{
	border: 1px solid #ddd;
	padding: 0.5em 1em;
	margin-bottom: 0.5em;
}
.task
{
	margin: 0px 1.3em;
	padding: 0 1.3em;
}

.start-container
{
/*	background: transparent url("img/White-christmas-light-background.jpg") no-repeat fixed center center / cover; */
	background: url("img/White-christmas-light-background.jpg") no-repeat fixed center center / cover;
}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
	background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
	background-color:#b8e356;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 143%;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
	margin-bottom: 0.5em;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
	background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
	background-color:#a5cc52;
}
.btn:active {
	position:relative;
	top:1px;
}

.btn.btn-danger
{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #CB2525), color-stop(1, #770E02));
	background:-moz-linear-gradient(top, #CB2525 5%, #770E02 100%);
	background:-webkit-linear-gradient(top, #CB2525 5%, #770E02 100%);
	background:-o-linear-gradient(top, #CB2525 5%, #770E02 100%);
	background:-ms-linear-gradient(top, #CB2525 5%, #770E02 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CB2525', endColorstr='#770E02',GradientType=0);
	background-color:#CB2525;
	background: #B10F0F linear-gradient(to bottom, #CB2525 5%, #770E02 100%) repeat scroll 0% 0%;
	border: 1px solid #7B0505;
	text-shadow: 0px 1px 0px #770909;
	box-shadow: 0px 1px 0px 0px #FE5757 inset;
}

.btn.small
{
	padding: 0.2em 0.4em;
	font-size: 120%;
}
h2 .btn.small
{
	font-size: 65%;
}
